@model IEnumerable<ecommerceweb.SharedModel.CategoryDTO>

@{
    ViewData["Title"] = "Category Page";
}

@*<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>*@

<div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                @*Column1: Category Combobox*@
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form action="#" class="header-searchbox">
                                <select class="nice-select select-search-category wide">
                                    @foreach (var item in Model)
                                    {
                                        <option>@Html.DisplayFor(modelItem => item.CategoryName)</option>
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>